DJANGO_SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOST=localhost
DATABASE_URL=sqlite:///db.sqlite3

# Africa's Talking
AT_USERNAME=sandbox
AT_API_KEY=your-api-key
AT_SENDER_ID=MediMatch

# AWS SES (production email)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SES_REGION_NAME=us-east-1
